<h1><%= @company.name %></h1>

<P><%= @company.description %></P>

<ul>
<li>Country: <%= @company.country%></li>
<li>Start Date: <%= @company.start_date%></li>
<li>Games: <%= @company.games.map { |game| game.name}.join(", ") %></li>
 
</ul>

<%=link_to "Go back to Companies", companies_path%>
<%=link_to "Delete this Company", company_path(@company), method: :delete, data: { confirm: "Really delete the game?" } %>